<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Hotels_WebApiEntities" connectionString="metadata=res://*/HotelsDomain.Model1.csdl|res://*/HotelsDomain.Model1.ssdl|res://*/HotelsDomain.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\TestDb;initial catalog=Hotels_WebApi;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>