<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net462" />
  <package id="Common.Logging.NLog40" version="3.4.1" targetFramework="net461" />
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Microsoft.AspNet.Cors" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net462" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net462" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net461" />
  <package id="Microsoft.Net.Compilers" version="2.6.1" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net462" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.4.12" targetFramework="net462" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Payoneer.EncryptionService.Contract" version="1.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Aspects" version="21.2.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Controllers" version="21.0.3" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.DependencyInjection.Registering" version="2.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.DependencyInjection.Resolving" version="2.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.DependencyInjection.Unity" version="2.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Encryption" version="21.0.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Encryption.EncryptionWsAdaptor" version="21.0.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.ExceptionFilter" version="21.0.1" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.HealthMonitoring" version="21.0.1" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.HealthMonitoring.RabbitMq" version="21.0.2" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.HealthMonitoring.Sql" version="21.0.2" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Queueing" version="23.0.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Queueing.RabbitMq" version="24.0.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Repositories" version="21.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Repositories.EF" version="21.5.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Shared" version="21.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.Validation" version="23.1.0" targetFramework="net461" />
  <package id="Payoneer.ServicesInfra.WebAPI.Validation" version="20.4.2" targetFramework="net461" />
  <package id="PostSharp" version="5.0.44" targetFramework="net461" developmentDependency="true" />
  <package id="PostSharp.Redist" version="5.0.44" targetFramework="net461" />
  <package id="PubComp.Aspects.Monitoring" version="3.1.0" targetFramework="net461" />
  <package id="PubComp.Caching.AopCaching" version="3.1.1" targetFramework="net461" />
  <package id="PubComp.Caching.Core" version="3.1.1" targetFramework="net461" />
  <package id="PubComp.Caching.SystemRuntime" version="3.1.1" targetFramework="net461" />
  <package id="PubComp.Caching.WebApiExtended" version="2.0.2" targetFramework="net461" />
  <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net461" />
  <package id="RabbitMQ.MessageBus" version="3.2.2" targetFramework="net461" />
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net462" />
  <package id="Unity" version="5.5.5" targetFramework="net461" />
  <package id="Unity.Abstractions" version="3.1.2" targetFramework="net461" />
  <package id="Unity.AspNet.WebApi" version="5.0.11" targetFramework="net461" />
  <package id="Unity.Container" version="5.5.5" targetFramework="net461" />
  <package id="ValueInjecter" version="3.1.1.5" targetFramework="net461" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net461" />
</packages>