<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="EncryptionAppUrl" value="http://wsinternal.payoneer.com/WebServices/EncryptionAppWS/EncryptionService_v2.svc" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="RabbitMq.Port" value="5672" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="RabbitMq.Host" value="queueing.payoneer.com" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="RabbitMq.User" value="payoneermq" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
    <add key="RabbitMq.EncryptedPassword" value="leiU3e9C93jyYuhKqAwujtNuz1PbumftJ90SVA12iio=" xdt:Locator="Match(key)" xdt:Transform="Insert"/>
  </appSettings>

  <connectionStrings>
    <!--TODO: Transform connection strings here-->
    <!--add name="ExampleDomainContext" connectionString="data source=sql.payoneer.com;initial catalog=Administration_Gen2;integrated security=True;MultipleActiveResultSets=True;MultiSubnetFailover=True;App=Hotels" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace" /-->
    <add name="SqlConnectionCheckContext" connectionString="data source=sql.payoneer.com;initial catalog=Infrastructure;persist security info=True;Trusted_Connection=yes;MultiSubnetFailover=True;MultipleActiveResultSets=True;App=Hotels" providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
  </connectionStrings>

  <nlog throwExceptions="false" throwConfigExceptions="true" autoReload="true" internalLogFile="c:\logs\nlog-internal-log.txt" internalLogLevel="Warn" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <rules xdt:Transform="Remove" />
    <include file="C:/SharedConfig/NLogLogLevelRulesNoEmail.config" xdt:Transform="Insert" />
  </nlog>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>
