<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://tfs-nugetserver.payoneer.com/images/PayoneerIcon.ico</IconUrl>
  <ProjectUrl>http://tfs-nugetserver.payoneer.com/</ProjectUrl>
  <LicenseUrl>http://tfs-nugetserver.payoneer.com/</LicenseUrl>
  <Authors>Payoneer</Authors>
  <Owners>Payoneer</Owners>
  <Copyright>Copyright Payoneer</Copyright>
  <Description>Payoneer Hotels</Description>
  <Summary>Payoneer Hotels</Summary>
  <Keywords>Hotels, Payoneer, Payoneer</Keywords>
  <DoIncludeCurrentProjectInNuSpec>true</DoIncludeCurrentProjectInNuSpec>
  <DoIncludeSources>true</DoIncludeSources>
</NuGetPack>